@import "normalize.css";

/*------------------*/
/* Basic Code Shell */
/*------------------*/

* {
  box-sizing: border-box;
}

/* Optional min width */
html {
  min-width: 20rem;
}

body {
  font-size: 1.125rem;
  line-height: 1.618em;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.313em;
}

h1 {
  font-size: 3em;
  margin: 0.563em 0;
}

h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}

h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}

h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}

h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}

h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.wrap {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 79rem) {
  .wrap {
    padding: 0 2rem;
  }
}

@media (max-width: 37.5rem) {
  .wrap {
    padding: 0 1.5rem;
  }
}

/*------------------*/
/* Unstyled Content */
/*------------------*/

body {
  font-family: Lato, "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

/* OVERRIDE HEADER WRAP PADDING */

header.wrap {
  padding: 0;
}

/* LOGO AND TITLE */

.logo_title {
  float: left;
  margin: 2.1875rem 0;
}

.logo {
  margin-right: 1em;
  vertical-align: top;
  /* This line scales the logo with base font size if necessary */
  width: 2.8125rem;
}

h1.title {
  display: inline;
  font-weight: 900;
  font-size: 2.625rem;
  line-height: 2.8125rem;
}

h1.title span {
  font-weight: 300;
}

@media (max-width: 79rem) {
  .logo_title {
    margin-left: 2rem;
  }
}

@media (max-width: 37.5rem) {
  .logo_title {
    margin-left: 1.5rem;
  }
}

@media (max-width: 400px) {
  .logo {
    margin-right:0.5em;
  }
  h1.title {
    font-size: 2rem;
  }
}

/* NAV MENU */

.navmenu a {
  text-decoration: none;
}

ul.navmenu {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
}

ul.navmenu:after {
  content: "";
  clear: both;
  display: block;
}

ul.navmenu li {
  cursor: pointer;
  list-style: none;
  display: block;
  position: relative;
  padding: 0;
}

ul.navmenu li a {
  display: inline-block;
}

/* switch symbol for showing child */
ul.navmenu li span {
  display: inline-block;
  text-align: right;
  width: 1.4em;
}

/* show child */
/*ul.navmenu li:hover ul,*/
ul.navmenu li ul.childopen
{
  display: block;
}

ul.navmenu li ul {
  display: none;
}

/* expanded nav child menu */
ul.navmenu li ul {
  padding: 0;
}

/* expanded nav menu */
@media (min-width: 61rem) {

  .navicon {
    display: none;
  }

  .navmenu {
    display: block;
  }

  ul.navmenu {
    float: right;
    display: inline-table;
    padding: 0 1em;
  }

  ul.navmenu li {
    float: left;
  }

  ul.navmenu li a {
    line-height: 7.1875rem;
    padding: 0 1.5625rem;
  }

  /* expanded nav child menu */
  ul.navmenu li ul {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
  }

  ul.navmenu li ul li {
    float: none;
  }

  ul.navmenu li ul li a {
    width: 100%;
    line-height: 4.5rem;                                  
    padding: 0 2.1875rem;
  }

}

/* collapsed nav menu */
@media (max-width: 61rem) {

  .navicon {
    float: right;
    font-size: 1.65rem;
    line-height: 2.8125rem;
    text-align: center;
    width: 3.4rem;
    margin: 2.1875rem 2rem 2.1875rem 0;
    cursor: pointer;
  }

  .navmenu {
    clear: left;
    display: none;
  }

  .navmenu.show {
    display: block;
  }

  ul.navmenu li a {
    width: 100%;
    line-height: 4.5rem;
    padding: 0 2.1875rem;
  }

  /* collapsed nav child menu */
  ul.navmenu li ul {
    position: relative;
    left: 0;
  }

}

@media (max-width: 37.5rem) {
  .navicon  {
    margin-right: 1.5rem;
  }
}

/* HERO UNIT */

/* All units set as em so we can easily resize all text */

.herounit {
  text-align: center;
  padding: 4.5em 0;
  margin-bottom: 1.5rem;
}

.herounit h2 {
  font-size: 3em;
}

.herounit p {
  font-size: 1.5em;
  font-weight: 300;
}

.button {
  display: inline-block;
  font-size: 1.11em;
  font-weight: bold;
  padding: 0 1.5em;
  line-height: 3em;
  margin: 1em;
}

@media (max-width: 61rem) {
  .herounit {
    font-size: 0.95rem;
  }
}

/* MAJOR SELLING POINTS */

.point h2 {
  font-size: 1.375rem;
}

.point h2 i {
  margin-right: 0.5em;
}

.pointlink {
  text-align: right;
}

.point {
  width: 22%;
  margin-top: 2.5rem;
  margin-right: 4%;
  float: left;
}

.point:last-of-type{
  margin-right: 0;
}

@media (max-width: 79rem) {

  .point {
    width: 47%;
    margin-right: 6%;
    float: left;
  }

  .point:nth-of-type(2) {
    margin-right: 0;
  }

}

@media (max-width: 37.5rem) {

  .point {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-top: 3rem;
  }

}

/* WELCOME SECTION */

.welcome {
  margin-top: 3.5rem;
  padding: 6rem 0;
}

.infovid {
  width: 50%;
  margin-right: 5%;
  float: left;
}

.infotext h1 {
  font-size: 1.6875rem;
  text-transform: uppercase;
}

@media (min-width: 37.5rem) {
  .infotext h1 {
    margin-top: 0;
  }
}

@media (max-width: 37.5rem) {
  .infovid {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}

@media (max-width: 25rem) {
  .infotext h1 {
    font-size: 1.45rem;
  }
}

/* FEEDBACK SECTION */

.feedback {
  padding-top: 3.3rem;
  padding-bottom: 4.6rem;
}

.feedback h1 {
  font-size: 2.5rem;
  text-align: center;
}

.testimonial {
  width: 22%;
  margin-top: 2.3rem;
  margin-right: 4%;
  float: left;
}

.testimonial:last-of-type{
  margin-right: 0;
}

.says {
  padding: 1em 1em 0.5em 1em;
}

.source {
  text-align: right;
  font-weight: bold;
  margin: 1rem 1rem 0 0;
}

@media (max-width: 79rem) {

  .testimonial {
    width: 47%;
    margin-right: 6%;
    float: left;
  }

  .testimonial:nth-of-type(2) {
    margin-right: 0;
  }

}

@media (max-width: 37.5rem) {

  .feedback h1 {
    font-size: 2.25rem;
    text-align: center;
  }

  .testimonial {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-top: 3.5rem;
  }

}

/* FOOTER */

.footer {
  margin-top:2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.copyright {
  float: left;
  line-height: 2.25rem;
}

.social {
  float: right;
}

.icon {
  font-size: 2.25rem;
  display: inline-block;
  margin-left: 1rem
}

@media (max-width: 37.5rem) {

  .footer {
    text-align: center;
  }

  .copyright {
    float: none;
    margin-bottom: 1rem;
  }

  .social {
    float: none;
  }

}

@import "style_01.css";